<h1>New document</h1>

<% form_for(@document) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label 'Tags' %>
    <%= f.text_field :tag_list %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', documents_path %>